@media (max-width: 1366px) {
    .header-list {
        gap: 50px;
    }

    .header-form input,
    .form-btn {
        height: 50px;
        margin-bottom: 10px;
    }

    .header-form-txt {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 10px;
    }

    .header-nav {
        height: 80px;
    }
}

@media (max-width: 1290px) {
    .container {
        max-width: 1140px;
    }

    .features-box {
        max-width: 360px;
    }
}

@media (max-width: 1140px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 992px;
    }

    .header-list {
        gap: 30px;
    }

    .header-content-info-title {
        font-size: 58px;
        max-width: 465px;
        width: 100%;
    }

    .features-box {
        max-width: 320px;
    }

    .service-boxes {
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        gap: 50px 30px;
    }

    .line-span,
    .line-link {
        font-size: 24px;
    }

    .info-blog-img {
        max-width: 450px;
        max-height: 250px;
    }

    .info-blog-img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 892px;
    }

    .header-list {
        gap: 15px;
    }

    .header-content-info-title {
        font-size: 48px;
        max-width: 380px;
        width: 100%;
    }

    .header-content-info-name {
        font-size: 24px;
        padding: 1px 24px;
    }

    .header-form input,
    .form-btn {
        height: 40px;
        margin-bottom: 8px;
    }

    .header-form-txt {
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 8px;
    }

    .header-form {
        max-width: 360px;
        padding: 20px;
    }

    .header {
        position: relative;
    }

    .header-nav {
        height: 70px;
        position: static;
    }

    .header-content {
        height: 85%;
    }

    .header-logo {
        max-width: 100px;
        max-height: 60px;
    }

    .header-list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: #000;
        display: none;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        z-index: 999;
    }

    .header-link-exit {
        display: block;
    }

    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 45px;
        height: 40px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        cursor: pointer;
    }

    .menu.dark {
        background: #e7e7e7;
    }

    .menu span {
        position: relative;
        width: 20px;
        height: 2px;
        background: #000;
    }

    .menu span::after,
    .menu span::before {
        position: absolute;
        content: "";
        top: 7px;
        width: 20px;
        height: 2px;
        background: #000;
    }

    .menu span::before {
        top: -7px;
    }
}

@media (max-width: 830px) {
    .container {
        max-width: 768px;
    }

    .features-boxes {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 30px;
    }

    .features-box {
        width: 300px;
    }

    .features-box-icon {
        width: 60px;
        height: 60px;
        top: -8%;
    }

    .features-box-icon img {
        width: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 684px;
    }

    #info .container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .info-blog {
        text-align: center;
        max-width: 550px;
    }

    .info-blog-img {
        display: none;
    }

    .footer-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer-box {
        max-width: 200px;
    }

    .footer-txt,
    .footer-span {
        font-size: 12px;
    }
}

@media (max-width: 684px) {
    .container {
        max-width: 576px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 480px;
    }

    .features-boxes {
        gap: 0;
    }

    .features-box {
        margin-bottom: 50px;
    }

    .features-title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 80px;
        text-align: center;
    }

    .footer-boxes {
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 30px;
    }

    .footer-box {
        max-width: 250px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 414px;
    }

    .header-content-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 30px;
    }

    .service-box {
        max-width: 180px;
    }

    .service-title {
        font-size: 30px;
    }

    .service-txt {
        font-size: 18px;
    }

    .line-span,
    .line-link {
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    .container {
        max-width: 390px;
    }

    .features-title {
        font-size: 26px;
    }

    #service {
        text-align: center;
    }

    .service-box-title {
        font-size: 16px;
    }

    .service-box-img {
        margin-bottom: 15px;
    }

    #line {
        display: none;
    }

    .service-box {
        max-width: 275px;
    }
}

@media (max-width: 414px) {
    .container {
        max-width: 390px;
    }

    .service-box {
        max-width: 250px;
        text-align: center;
    }

    .service-box-title {
        font-size: 20px;
    }

    .service-box-txt {
        font-size: 16px;
    }
}

@media (max-width: 390px) {
    .container {
        max-width: 360px;
    }
}

@media (max-width: 375px) {
    .header-content-info-title {
        font-size: 34px;
        max-width: 380px;
        width: 100%;
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 320px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 300px;
    }
}